__pycache__/
*.py[cod]
.venv/
venv/
.env
checkpoints/*.pth
checkpoints/*.pt
checkpoints/*.ckpt
data/raw_videos/*
!data/raw_videos/.gitkeep
data/annotations/cvat_tasks/**/*.zip
data/annotations/normalized/*
!data/annotations/normalized/.gitkeep
results/*
!results/.gitkeep
